Build with Maven Wrappername: Spring Boot CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with: java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven Wrapper
        run: ./mvnw clean package
